---
{% for node in groups.sutty %}
{% for ipv6 in hostvars[node].ansible_facts.rap.ipv6 %}
{% if ipv6.scope == 'global' %}
{{ hostvars[node].ansible_facts.hostname }}: {{ ipv6.address }}
{% endif %}
{% endfor %}
{% endfor %}
