{{ inventory_hostname }}. IN SOA {{ inventory_hostname }}. {{ inventory_hostname }}. ( {{ dns.serial }} {{ dns.ttl }} {{ dns.ttl }} {{ dns.ttl }} {{ dns.ttl }} );
{{ inventory_hostname }}. IN A {{ ansible_facts.default_ipv4.address }}
{{ inventory_hostname }}. IN NS {{ inventory_hostname }}.
