UserID                  opendkim
BaseDirectory           /run/opendkim
Syslog                  yes
SyslogSuccess           yes
Canonicalization        relaxed/simple
Domain                  {{ sutty }}
Selector                dkim
KeyFile                 /etc/opendkim/dkim.private
Socket                  inet:8891
ReportAddress           {{ email }}
SendReports             yes
MTACommand              /usr/bin/sendmail
PidFile                 /tmp/opendkim.pid
InternalHosts          {% for net in docker_network.network.IPAM.Config %}{{ net.Subnet }},{% endfor %}127.0.0.1
