server {
  server_name panel.{{ sutty }};
  access_log /var/log/nginx/access.log analytics;

  include snippets/acme.conf;
  include snippets/ssl.conf;

  brotli_static on;
  gzip_static on;

  root {{ directories.public }};

  location / {
    try_files $uri @sutty;
  }

  location @sutty {
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Ssl on;
    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header X-Forwarded-Host $http_host;
    proxy_set_header Host $http_host;

    set $panel sutty.{{ delegate.hostname }}:3100;
    proxy_pass http://$panel;
  }
}
